// element plus 使用了display: flex 导致移出动画坍缩
.breadcrumb-enter-active {
  transition: all .5s;
}

.breadcrumb-enter-from,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}
// 取消移出时占位
.breadcrumb-leave-active {
  position: absolute;
}

// 路由过渡动画
// 过渡时定义动画速度
.fade-transform-leave-active,
.fade-transform-enter-active{
  transition: all 0.5s;
}
// 进入前的状态
.fade-transform-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}
// 离开后的状态
.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
